@import "tailwindcss";

:root {
  --color-primary: #a26ef6;
  --color-primary-dark: #6a40ad;
  /* Indigo 600 */
  --color-secondary: #10b981;
  --color-secondary-light: #1defa9;
  /* Emerald 500 */
  --color-accent: #f59e0b;
  /* Amber 500 */
  --color-dark: #1f2937;
  /* Gray 800 */
  --color-light: #f9fafb;
  /* Gray 50 */
  --color-text: #111827;
  /* Gray 900 */
  --color-error-red: #FF0000;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}
