@import "tailwindcss";

/*
#f0f4f8
#0077B6
#A42A04
#A3D9A5


#a26ef6 og
##6a40ad og dark
*/
:root {
  --color-primary: #A42A04;
  --color-primary-dark: #A42A04;
  /* Indigo 600 */
  --color-secondary: #10b981;
  --color-secondary-light: #1defa9;
  /* Emerald 500 */
  --color-accent: #f59e0b;
  /* Amber 500 */
  --color-dark: #1f2937;
  /* Gray 800 */
  --color-light: #f9fafb;
  /* Gray 50 */
  --color-text: #111827;
  /* Gray 900 */
  --color-error-red: #FF0000;

  /*Primary: Sage Green #A3B18A*/
  /*Secondary: Warm Beige #F5F3EA*/


}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: black !important;
  caret-color: black;
}